.git
.github
.idea
.vscode
**/node_modules
**/.next
**/.turbo
**/.react-router
**/.shopify
**/build
**/dist
**/dist-integration
**/coverage
**/*.log
**/.env
**/.env.*
**/dev.sqlite
**/dev.sqlite-journal
mobile/kiosk/build
